  <div class="container">

  <p>
    <strong>Name</strong>
    <%= @problem.name %>
  </p>

  <p>
    <strong>Description</strong>
    <%= @problem.description %>
  </p>

  <p>
    <strong>Icon</strong>
    <%= @problem.p_icon %>
  </p>

  <p>
    <strong>Background Image</strong>
    <%= @problem.p_backgroundimage %>
  </p>

  <p>
    <strong>Npos</strong>
    <%= @problem.npos %>
  </p>

  <%= link_to 'Edit', edit_problem_path(@problem) %> |
  <%= link_to 'Back', problems_path %>

</div>