<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card card-body">
          <% if user_signed_in? %> 
            <h4 class="card-title">Your Account</h4>
            <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p>
          <% else %>
            <p class="card-text"><%= link_to "Sign up now", signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        
        <% if user_signed_in? %>
          <%= link_to 'New Tweet', new_tweet_path %>
        <% end %>



          <% @tweets.each do |tweet| %>
            <%= link_to tweet do %>
              <div class="card mb-3">
                <% if tweet.image.present? %>
                <!-- img class="card-img-top" src="..." alt="Card image cap"-->
                <%= image_tag tweet.image, class: "card-img-top" %>
                <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= tweet.user.username %></h5>
                    <p class="card-text"><%= tweet.content %></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
            <% end %>
          <% end %>

          
    </div>

  </div>
</div>